.product-container {
  text-align: center;
}

.product-container h1 {
  padding: var(--spacing-ref);
  padding-top: calc(var(--spacing-ref) * 4);
}

.product-container p {
  text-align: left;
  padding-bottom: var(--spacing-ref);
}

.product-container button {
  margin-top: calc(var(--spacing-ref) * 2);
}
.wrapper-picture {
  background-color: var(--bckgSecondColor);
  border-radius: var(--border-ref);
}
.main-picture-product {
  padding: calc(var(--spacing-ref) * 1);
  display: flex;
}

.main-picture-product img {
  width: 70%;
  padding-left: var(--spacing-ref);
  border-radius: 8px;
}

.small-picture-product img {
  width: 100%;
  padding-right: var(--spacing-ref);
}

.description-product {
  width: 40ch;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .product-container {
    justify-self: center;
    justify-items: center;
  }
  .main-picture-product {
    align-items: center;
    justify-self: end;
    width: 80%;
  }
  .main-picture-product img {
    width: 50%;
  }

  .wrapper-picture {
    justify-items: center;
    width: 80%;
    box-shadow: 1px 1px 4px 1px #00000026;
  }

  .small-picture-product {
    display: flex;
    flex-direction: column;
  }
}
