@import url("@src/variables.css");

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--thirdColor-opacity);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header a {
  color: white;
}

.home-header button {
  border: none;
}

.react-datepicker-popper {
  z-index: 100 !important;
}

.home-header h1 {
  font-size: calc(var(--font-size-ref) * 1.5);
}

.header-content {
  text-align: center;
  margin: calc(var(--spacing-ref) * 1);
  padding: calc(var(--spacing-ref) * 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: var(--bckgSecondColor-opacity);
  border-radius: var(--border-ref);
  box-shadow: 1px 1px 5px 1px #00000021;
}

.header-content a {
  margin: var(--spacing-ref);
  width: var(--width-input-form);
  height: var(--height-input-form);
  font-family: var(--textFont);
  font-size: calc(var(--font-size-ref) * 0.875);
  font-weight: var(--font-weight-S);
  letter-spacing: var(--spacing-letter-ref);
  line-height: 1.5;
  padding: var(--padding-input);
  border-radius: calc(var(--border-ref) * 3);
  color: var(--color-input);
  background: var(--bckgColorCTA);
  border: var(--border-input);
  transition: 0.5s ease;

  &:hover {
    border-color: black;
    background-color: var(--bckgSecondColor-opacity);
    color: black;
  }
}

.bouquets {
  padding-top: calc(var(--spacing-ref) * 2);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bouquets h2 {
  font-size: calc(var(--font-size-ref) * 2);
  padding: calc(var(--spacing-ref) * 2);
}

.mySwiper {
  justify-self: center;
  width: 100%;
}

.mySwiper img {
  width: 100%;
  border-radius: var(--border-ref);
}

.home-plants-banniere {
  margin-top: calc(var(--spacing-ref) * 5);
  background-color: var(--bckgSecondColor);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-plants-banniere h1 {
  align-items: end;
  font-size: calc(var(--font-size-ref) * 1.5);
  padding: var(--spacing-ref);
}

.home-plants-banniere p {
  font-size: calc(var(--font-size-ref) * 1.1);
  padding: var(--spacing-ref);
}

.home-plants-banniere a {
  text-align: center;
  margin: var(--spacing-ref);
  width: var(--width-input-form);
  height: var(--height-input-form);
  font-family: var(--textFont);
  font-size: calc(var(--font-size-ref) * 0.875);
  font-weight: var(--font-weight-S);
  letter-spacing: var(--spacing-letter-ref);
  line-height: 1.5;
  padding: var(--padding-input);
  border-radius: calc(var(--border-ref) * 3);
  color: var(--color-input);
  background: var(--bckgColorCTA);
  border: var(--border-input);
  transition: 0.5s ease;

  &:hover {
    border-color: black;
    background-color: var(--bckgSecondColor-opacity);
    color: black;
  }
}

.container-plants {
  margin-top: calc(var(--spacing-ref) * 4);
  padding: calc(var(--spacing-ref) * 2);
  gap: var(--spacing-ref);
  margin-bottom: calc(var(--spacing-ref) * 2);
}

.container-plants .cards-container {
  margin-top: calc(var(--spacing-ref) * 2);
}

.container-plants a {
  padding-bottom: calc(var(--spacing-ref) * 2);
  margin-top: calc(var(--spacing-ref) * 2);
}

.container-plants h2 {
  grid-column: span 2;
  font-size: calc(var(--font-size-ref) * 2);
  text-align: center;
}
.container-plants img {
  width: 100%;
  border-radius: var(--border-ref);
  margin-top: 2rem;
}

.be-member {
  margin-top: calc(var(--spacing-ref) * 2);
  background-color: var(--bckgSecondColor);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.be-member h2 {
  align-items: end;
  font-size: calc(var(--font-size-ref) * 1.5);
  padding: var(--spacing-ref);
}

.be-member p {
  font-size: calc(var(--font-size-ref) * 1.1);
  padding: var(--spacing-ref);
}

.modal-form {
  text-align: center;
}

.ourStory {
  padding: calc(var(--spacing-ref) * 2);
}

.ourStory h1 {
  font-size: calc(var(--font-size-ref) * 2);
  padding-bottom: var(--spacing-ref);
}

.ourStory p {
  padding: var(--spacing-ref);
  padding-top: calc(var(--spacing-ref) * 1);
}

.ourStory img {
  width: 100%;
  border-radius: var(--border-ref);
  margin-top: 2rem;
}

.hours-address {
  text-align: center;
}

.address {
  padding: calc(var(--spacing-ref) * 2);
}

.hour {
  padding: calc(var(--spacing-ref) * 2);
}

.contact {
  justify-items: center;
}

.contact h1 {
  text-align: center;
  font-size: calc(var(--font-size-ref) * 2.3);
  padding-bottom: var(--spacing-ref);
}

.contact h2 {
  text-align: center;
  font-size: calc(var(--font-size-ref) * 1.2);
}

.form-contact {
  justify-self: center;
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-ref) * 2);
}

.form-contact button {
  align-self: center;
}

#message {
  padding: 3rem;
}

#name {
  margin-bottom: calc(var(--spacing-ref) * 1);
}

#email-contact {
  margin-bottom: calc(var(--spacing-ref) * 1);
}

@media screen and (min-width: 1000px) {
  .header-content {
    width: 50%;
  }
  .bouquets {
    width: 100%;
  }
  .mySwiper {
    width: 100%;
    padding: calc(var(--spacing-ref) * 2);
  }

  .home-plants-banniere {
    align-items: center;
    width: 100vw;
  }

  .home-plants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-plants {
    justify-self: center;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }

  .container-plants h2 {
    grid-column: span 3;
  }

  .container-plants h3 {
    font-size: calc(var(--font-size-ref) * 1.1);
  }

  .be-member {
    text-align: center;
  }

  .ourStory {
    width: 100%;
    justify-self: center;
  }

  .ourStory h1 {
    text-align: center;
  }

  .our-storyContent1 {
    display: flex;
    align-items: center;
  }

  .our-storyContent1 img {
    width: 30%;
  }

  .our-storyContent2 {
    display: flex;
    align-items: center;
    padding-bottom: calc(var(--spacing-ref) * 4);
  }

  .our-storyContent2 p {
    order: 1;
  }

  .our-storyContent2 img {
    width: 30%;
    order: 2;
  }

  #name,
  #email-contact,
  #message {
    width: 30vw;
  }
}
