fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: calc(var(--spacing-ref) * 1.2);
}
#transition-modal-title {
  text-align: center;
}

#password {
  margin-bottom: calc(var(--spacing-ref) * 1.2);
}

.sign-up-container {
  justify-self: center;
  justify-items: center;
}

.error {
  color: rgba(255, 0, 0, 0.63);
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: var(--spacing-ref);
}

#cgu,
#cgv {
  width: 100%;
  height: calc(var(--spacing-ref) * 1.3);
}

.error::before {
  content: "❌";
}
