@import url("@src/variables.css");

.catalogue-product {
  padding-top: calc(var(--spacing-ref) * 6);
  width: 100%;
  text-align: center;
}

.catalogue-product img {
  border-radius: calc(var(--border-ref) * 2);
  margin: calc(var(--spacing-ref) * 1.5);
}

.flowers-container {
  padding: var(--spacing-ref);
  padding-top: calc(var(--spacing-ref) * 6);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-ref);
}

.flowers-container h1 {
  grid-column: span 2;
}

.cards-container {
  border-top: 1px solid rgba(39, 37, 37, 0.377);
  justify-items: center;
  padding-top: var(--spacing-ref);
}

.cards-container p:last-of-type {
  margin-bottom: var(--spacing-ref);
}

.cards-container h3 {
  text-align: center;
  width: 15ch;
  padding-top: var(--spacing-ref);
  padding-bottom: calc(var(--spacing-ref) * 0.5);
  font-size: calc(var(--font-size-ref) * 1.5);
}

.cards-container p {
  padding-bottom: calc(var(--spacing-ref) * 0.5);
  letter-spacing: var(--spacing-letter-ref);
  width: 30ch;
}

.cards-container img {
  border-radius: var(--border-ref);
  width: 80%;
}

.mySwiper2 {
  text-align: center;
  width: 100%;
}

.mySwiper2 img {
  width: 100%;
  border-radius: var(--border-ref);
}

@media screen and (min-width: 1000px) {
  .catalogue-product h1 {
    font-size: calc(var(--font-size-ref) * 1.8);
  }
  .mySwiper2 {
    margin: calc(var(--spacing-ref) * 2);
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards-container p {
    width: 40ch;
  }

  .flowers-container {
    justify-self: center;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }

  .flowers-container h1 {
    grid-column: span 3;
  }

  .flowers-container h3 {
    font-size: calc(var(--font-size-ref) * 1.1);
  }

  .cards-container {
    border: none;
  }
}
