.main-footer {
  background-color: var(--thirdColor-opacity);
  margin-top: var(--spacing-ref);
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-ref);
}
